@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    width: 100%;
    margin: 0px; /* Hide scrollbars */
    cursor: wait;
}


@layer components {
    .contact-link {
      @apply relative cursor-pointer;
    }
  
    .contact-link::after {
      content: "";
      @apply w-0 h-px bg-white block mt-0.5 absolute left-1/2 -translate-x-1/2 transition-all duration-200;
    }
  
    .contact-link:hover::after {
      @apply w-full;
    }
  }